<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark sticky-top" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand fs-3" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse barra-navegacion-cliente" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link fs-3 ms-3 {% if 'home' in request.path %} active {% endif %}" href="{% url 'home' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-3 ms-3 {% if 'excursiones' in request.path %} active {% endif %}" href="{% url 'excursiones:excursiones' %}">Excursiones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-3 ms-3 {% if 'comentarios' in request.path %} active {% endif %}" href="#">Comentarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-3 ms-3 {% if 'contacto' in request.path %} active {% endif %}" href="{% url 'contacto:contacto' %}">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    {% block contenido %}

    {% endblock contenido %}

    <footer class="bg-dark" style="color: whitesmoke">
      <div class="container">
          <div class="row">
              <div class="col-md-4" style="padding: 20px;">
                  <h2 class="fs-3">Texto 1 Cualquiera</h2>
                  <p class="fs-6">Los precios de las excursiones son por persona, incluyen IVA y están expresados en pesos argentinos excepto que se indique lo contrario; están sujetas a modificaciones sin previo aviso.</p>
              </div>
              <div class="col-md-4" style="padding: 20px;">
                  <h2 class="fs-3">Texto 2 Cualquiera</h2>
                  <p class="fs-6">Si durante la realización de un circuito turístico, ocurre algún caso fortuito o de fuerza mayor que imposibilite la concreción del mismo, la empresa no se responsabiliza por los tramos no efectuados.</p>
              </div>
              <div class="col-md-4" style="padding: 20px;">
                  <h2 class="fs-3">Texto 3 Cualquiera</h2>
                  <p class="fs-6">Alojamiento en las excursiones, comidas salvo las especificadas, entradas, extras en hoteles (bebidas, lavandería, llamadas telefónicas), tasas de aeropuerto, impuestos aéreos o cualquier otro gasto que surja de la necesidad personal.</p>
              </div>
          </div>
      </div>
  </footer>
  


    {% block js %}
      
    {% endblock js %}
      
    <script rel="stylesheet" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>