{% extends 'home/base.html' %}
{% load static %}


{% block js %}
<script>
function classToggle() {
    var el = document.querySelector('.icon-cards__content');
    el.classList.toggle('step-animation');
  }
  
  document.querySelector('#toggle-animation').addEventListener('click', classToggle);
</script>
{% endblock js %}

    

{% block contenido %}
<!--<section class="parallax-container">-->
  <h1 class="fs-1 text-center">EXCURSIONES</h1>
  <div class="fondo-p" style="background-image: url('{% static 'imagenes/6.jpg' %}');">
    <div class="d-flex flex-column align-items-center justify-content-center w-100">
    {% for excursion in object_list %}
    {% if excursion.disponible %}
    <div class="glass-card d-flex flex-wrap flex-md-nowrap align-items-stretch justify-content-center text-light" style="width: 90%;">
      <div class="w-100 w-md-50">
          <h1 class="w-75 fs-2 text-center m-auto mb-2">{{excursion.titulo}}</h1>
          <p class="text-break fs-4 w-75 text-center m-auto">{{excursion.descripcion}}</p>
      </div>
      <div class="w-100 w-md-50 mt-3 mt-md-0" style="background-size: cover;">
          <img src="{{ excursion.imagen.url }}" alt="" style="height: 100%; width: 100%" />
      </div>
  </div>
        {% endif %}
      {% endfor %}  
    </div> 
  </div>
  <!--</section>-->


{% endblock contenido %}

